{% extends 'base.html' %}
{% load static %}
{% block extra_auth_css %}<link rel="stylesheet" href="{% static 'users/auth.css' %}">{% endblock %}
{% block content %}
<div class="auth-container">
  <span class="auth-icon"><i class="fa fa-key"></i></span>
  <h2 class="auth-title">Set New Password</h2>
  <form method="post" class="auth-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group" style="position:relative; margin-bottom:1.5rem;">
        <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="auth-input form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}" value="" autocomplete="{{ field.field.widget.attrs.autocomplete|default:'off' }}">
        {% if field.errors %}
          <div class="auth-error">{{ field.errors|striptags }}</div>
        {% endif %}
        {% if field.name == 'new_password1' or field.name == 'new_password2' %}
          <span style="position:absolute;right:18px;top:16px;color:#14b8a6;"><i class="fa fa-lock"></i></span>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="auth-btn"><i class="fa fa-key"></i> Change Password</button>
  </form>
</div>
{% endblock %}
